[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
pyqrcode = "*"
pypng = "*"
loader = "*"
environs = "~=8.0.0"
aiohttp = "*"
numpy = "*"
numpy-stl = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
